@model List<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Studenten</h1>
    <ul class="list-group">
        @foreach (var student in @Model)
        {
            <li class="list-group-item">
                @student.StudentNaam <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentNummer">Aanpassen</a>
            </li>
        }
    </ul>
    <a href="/Student/CreateStudent">Voeg een nieuwe student toe..</a>
</div>