@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sup.</h1>
    <p><a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
    <a asp-controller="Role" asp-action="Index">Rollen overzicht.</a>
</div>