@model List<Student>
@{
    ViewData["Title"] = "Zoek Studenten";
}

<div class="text-center">
    <p>De letter die opgezocht is: @ViewData["searchedLetter"]</p>
    <ul class="list-group">
    @foreach (var student in @Model)
    {
        <li class="list-group-item">@student.StudentNaam</li>
    }
    </ul>
</div>
