@model List<Student>
@{
    ViewData["Title"] = "Maak een nieuwe student aan";
}

<div class="text-center">
    <form method="post" action="/Student/CreateStudent">
        Naam: <input type="text" name="StudentNaam"/>
        Nummer: <input type="text" name="StudentNummer"/>
        Mail: <input type="text" name="StudentMail"/>
        <input type="submit"/>
    </form>
</div>